@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 246	238	227;
    --background-end-rgb: 246	238	227;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --background-start-rgb: 246	238	227;
    --background-end-rgb: 246	238	227;
  }
}
.link{
  text-align: center;
  align-content: center;
  align-items: center;
}

body {
  background:  rgb(var(--background-end-rgb));
}
